.radioGroup {
    border: none;
    padding: 0;
    margin: 18px 18px 0;
  }
@media screen and (min-width: 850px) {
    .radioGroup {
        margin: unset;
    }
}
  
  /* .radioGroup > * {
    margin: 0;
} */
  
  .radioWrapper {
    position: relative;
    display: inline-block;
    margin-right: 1rem;
    width: 100%;
  }
  
  .radioInput {
    position: absolute;
    opacity: 0;
    width: 100%;
  }
  
  .radioLabel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.5rem 1rem;
    background-color: white;
    cursor: pointer;
    transition: all 0.2s ease;
    font-size: 0.875rem;
  }
  
  .radioLabel:hover {
    background-color: #CCC;
  }
  
  .radioInput:checked + .radioLabel {
    background-color: #17317F;
    color: white;
  }
  
  .radioInput:focus + .radioLabel {
    outline: 2px solid #17317F;
    outline-offset: 2px;
  }
  
  .radioInput:focus:not(:focus-visible) + .radioLabel {
    outline: none;
  }

  
  .itemTitle {
    font-weight: 500;
    margin-bottom: 0.25rem;
  }
  
  .itemDetails {
    font-size: 0.875rem;
    color: #4b5563;
  } 