.resortListContainer {
    display: block;
    margin: 20px 20px 0;
    justify-items: center;
}

@media screen and (min-width: 850px) {
    .resortListContainer {
        margin: unset;
    }
    
}

.resortList {
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
}
