.page {
    width: 100%;
    margin: 0 auto;
    justify-items: center;
    background-image: url('https://static.onthebeach.co.uk/fe-code-test/background.png');
}

.contentContainer {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 1rem;
    max-width: 1200px;
    padding: 40px;
}

.sortBar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
    padding: 16px;
    border-radius: 8px;
    background: var(--gray-alpha-100);
    background-color: white;
    margin: 20px;
}

.resortListContainer {
    display: block;
    margin: 20px;
    justify-items: center;
}

.resortList {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
}


.resortCard {
    display: grid;
    grid-template-columns:  1fr 1fr;
    border-color: var(--gray-alpha-200);
    min-width: 180px;
    max-width: 800px;
    background-color: white;
}

.resortInfo {
    display: grid;
    grid-template-columns: 1fr;
    gap: 8px;
    padding: 8px;
}

.button {
    background: #FEDC07;
    color: black;
    gap: 8px;
    max-width: 200px;
}